[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pandas = "*"
requests = "*"
flask-misaka = "*"
beautifulsoup4 = "*"
flask-caching = "*"

[dev-packages]

[requires]
python_version = "3.10"
